#root {
  height: 100%;
  text-align: center;

}

.message-view {
  display: flex;
  flex-direction: column-reverse;
  flex: 1 1 auto
}

.message-view .message {
  text-align: left;
}

.app {
  display:flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.app .footer {
  padding: 10px;
}